@import 'margenes.css';
@import 'fonts.css';
@import 'colores.css';

body {
/*	font-family: 'Lato', sans-serif !important;
	font-size: 14px;
	line-height: 1.42857143;
	color: #2b2421;
	background-color: #ffffff;
	cursor: default;*/
}

*::-moz-selection { background: #481B65; color: #ffffff; }
*::selection { background: #481B65; color: #ffffff; }


/*************************/
/*	logo top */
/*************************/

#logo img{
	width: 150px;
}

/*************************/
/*	menu top */
/*************************/

.navbar-toggle{
	float: left !important;
}

.navbar-toggle .icon-bar {
	background-color: #000;
}

#navbar-mobile {
	height:110%;
	position: fixed;
	top:-1px;
	left:0;
	width: 110%;
	z-index: 16;
}

#navbar-mobile .close {
	margin-top: 20px;
}

#navbar-mobile ul, #navbar-mobile li {
	width: 100%;
}

#navbar-mobile ul {
	padding-top: 20px !important;
}

#navbar-mobile li {
	border-top: solid 1px #ffffff;
	line-height: 32px;
}
#navbar-mobile li:last-child{
	border-bottom: solid 1px #ffffff;
}


#menutop .navbar-nav > li > a {
	padding: 5px 15px;
	color: #000000;
}
#navbar-mobile .navbar-nav > li > a {
	padding: 10px 0 !important;
}

#menutop {
	padding: 20px 0;
	background-color: #ffffff;
	border-bottom: solid 1px #E5E5DC;
	z-index: 20;
}

#menutop ul {
	float: none !important;
	margin: 0 auto !important;
	display: table !important;
	table-layout: fixed !important;
	padding: 15px 0 0;
}

#menutop ul li:nth-last-child(2), #menutop ul li:nth-last-child(1){
	border-left: solid 1px #949494;
}
#menutop ul li:nth-last-child(2) {
	margin-left: 20px !important;
}

#menutop a:hover, #menutop a:active, #menutop a:focus {
	background-color: transparent !important;
	text-decoration: none;
}

#menutop li {
	text-decoration: none;
	display: inline-block;
	border-bottom: 1px dotted transparent;
	transition: 0.8s ease;
	white-space: nowrap;
}

#menutop li.active, #menutop li:hover{
	border-bottom: dotted 1px #000000;
	width: auto;
}

/*************************/
/*	pagina inicio */
/*************************/
#wallet, #casos {
	overflow: hidden;
}

#rentab {
	margin-top: -40px;
}

#rentab img {
	margin-top: -10px;
	height: 30px;
	padding-right: 15px;
}

.barramorada {
	border-top: solid 2px #412163;
	width: 80px;
	text-align: center;
	margin: 0 auto;
}

.ipad {
	background: url(/assets/img/extra/ipad.png) no-repeat center center / cover;
	bottom: -340px;
	height: 269px;
	position: absolute;
	width: 94%;
}

ul.empresa, ul.inversor {
	list-style-type: none;
	padding-left: 0;
}

ul.empresa li:before{
	font-family:FontAwesome;
	content: '\f00c';
	font-weight: normal;
	font-style: normal;
	color:#F39200;
	padding-right: 10px;
	padding-left: 0;
}

ul.inversor li:before{
	font-family:FontAwesome;
	content: '\f00c';
	font-weight: normal;
	font-style: normal;
	color:#481B65;
	padding-right: 10px;
	padding-left: 0;
}

/*************************/
/*	pagina login */
/*************************/
#sliderlogin {
	height: 600px;
}

#sliderlogin .formside {
	padding: 40px 60px;
}

.puntos {
	margin-top: 5px;
	padding-top: 5px;
	border-top: dashed 1px #000;
	width:150px;
	margin-left: 25px;
}

.puntos button{
	margin-left: -25px;
}

/*************************/
/*	pagina registro */
/*************************/

a.dotted {
	text-decoration: underline dotted;
}


/*************************/
/*	seccion footer */
/*************************/

footer {
	background-color: #292929 !important;
}

footer h1 {
	color: #ffffff !important;
	text-transform: uppercase;
}

footer ul, footer a {
	opacity: 0.5 !important;
	color: #ffffff !important;
	font-size: 15px;
	font-family: 'Lato', sans-serif;
	line-height: 26px;
}

footer .row.borders {
	border-width: 1px 0;
	border-color: #969696 !important;
	border-style: solid;
	padding: 30px 0 20px;
}

footer #menufooter ul {
	list-style: none;
	list-style-position: inside;
	margin: 20px 0 60px 0;
}

footer #submenufooter li{
	list-style: none;
	margin-right: 90px;
}

footer #submenufooter ul {
	list-style: none;
}

footer #submenufooter li{
	display: inline-block;
}


/*************************/
/*	modales */
/*************************/
.modal-backdrop {
	background-color: rgba(38, 22, 35, 0.9) !important;
}
.modal-backdrop.in {
	opacity: 1 !important;
}

.modal-dialog{
	padding: 50px 0;
}
.modal-header {
	border-bottom: 0 !important;
}
.modal-content{
	background: transparent !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	border: 0 !important;

}

/*************************/
/*	estilos1tra */
/*************************/

.imagen {
	min-height: 400px;
}

.imagenmed {
	min-height: 250px;
	clear: both;
}


.clr {
	clear: both;
	position: relative;
	display: block;
}

.conshadow {
	-webkit-box-shadow: 2px 2px 3px #dddddd;
	-moz-box-shadow: 2px 2px 3px #dddddd;
	box-shadow: 2px 2px 3px #dddddd;
}

.tachado {
	text-decoration: line-through !important;
}

.bordegris {
	border: 1px solid #cccccc;
}

.pull-bottom {
	bottom: 0;
	position: absolute;
}
.pull-top {
	top: 0;
	position: absolute;
}

.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
}
.oculto {
	display: none !important;
	visibility: hidden !important;
	position: absolute !important;
	top: -200000px !important;
	left: -200000px !important;
	width: 1px !important;
	height: 1px !important;
	overflow: hidden !important;
}

.full-height {
	height: 100% !important;
}

.opacity50{
	-moz-opacity: 0.5 !important;
	opacity: 0.5 !important;
}

.opacity60{
	-moz-opacity: 0.6 !important;
	opacity: 0.6 !important;
}

.sinradio {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}

.arrow-down {
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 12px solid #ffffff;
}

.arrow-left {
	position: absolute;
	right: -10px;
	top:-24px;
	width: 0;
	height: 0;
	border-top: 36px solid transparent;
	border-bottom: 36px solid transparent;

	border-right:36px solid #ffffff;
}


/*************************/
/*	pagina como */
/*************************/
#slidercomo {
	height: 320px  !important;
	/*margin-top: 90px !important;*/
	position: relative  !important;
}

#pasos ul.pasoscomo{
	counter-reset: mi-contador;
	list-style: none;
}

#pasos2 ul.pasoscomo{
	counter-reset: mi-contador2;
	list-style: none;
}

ul.pasoscomo li{
	margin-bottom: 60px;
}

#pasos ul.pasoscomo li:before{

	/*color: transparent;*/
	counter-increment: section;
	content: counter(section);
	color: #ffffff;
	text-shadow:
			-1px -1px 0 #FF5A19,
			1px -1px 0 #FF5A19,
			-1px 1px 0 #FF5A19,
			1px 1px 0 #FF5A19;
	font-size: 65px;
	border: solid 2px #481B65;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	border-radius:100%;
	clear: both;
	float: left;
	height: 75px;
	line-height: 70px;
	margin-right: 20px;
	padding: 5px;
	text-align: center;
	vertical-align: middle;
	width: 75px;
}

#pasos2 ul.pasoscomo li:before{
	/*color: transparent;*/
	counter-increment: mi-contador2;
	content: counter(mi-contador2);
	color: #ffffff;
	text-shadow:
	-1px -1px 0 #FF5A19,
	1px -1px 0 #FF5A19,
	-1px 1px 0 #FF5A19,
	1px 1px 0 #FF5A19;
	font-size: 65px;
	border: solid 2px #481B65;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	border-radius:100%;
	clear: both;
	float: left;
	height: 75px;
	line-height: 70px;
	margin-right: 20px;
	padding: 5px;
	text-align: center;
	vertical-align: middle;
	width: 75px;
}

/*************************/
/*	pagina inversores */
/*************************/
#slogan .izq .morado, #slogan .izq .amarillo {
	font-family: 'LatoBold', sans-serif;
	font-size: 12px !important;
	line-height: 14px;
	margin-bottom: 30px;
}

#slogan .izq .negro {
	font-family: 'Lato', sans-serif;
	font-size: 40px;
}

#slogan .drxa {
	font-family: 'LatoLight', sans-serif;
	font-size: 21px !important;
	line-height: 25px;
	margin-top: 30px;
}

#boxes img.pc {
	margin-bottom: -80px;
	margin-top: -10px;
}


/*************************/
/*	pagina empresas */
/*************************/
#minicalc {
	padding: 50px;
}

#calculadora button{
	background-color: #ffffff;
	color: #FF941F;
	margin-right: 5px;
	width: 15.7%;
}

#calculadora button:active, #calculadora button.active, #calculadora button:focus, #calculadora button:hover {
	background-color: #F39200;
	color: #ffffff;
}

.btn-group {
	width: 100%;
}

#requisitos img{
	width: 100px;
	margin-bottom: 40px;
}

.irs-min, .irs-max {
	top: 40px;
	font-family: 'LatoBold', sans-serif;
	font-size: 14px !important;
	line-height: 17px;
	opacity: 0.5;
	background: transparent;
}

/*************************/
/*	pagina noticia */
/*************************/



/*************************/
/*	slider portada */
/*************************/
#sliderportada {
	height: 500px  !important;
	/*margin-top: 90px !important;*/
	position: relative  !important;
}

#slider .container {
	padding-top: 90px;
}

#slider li {
	background-color: #ffffff;
	border: 0 !important;
}
#sliderusers li{
	background-color: #EBEBEB;
	border: 0 !important;
}

#slider li.active, #sliderusers li.active {
	background-color: #F39200;
}

#slider, #slider .carousel-inner, #slider .carousel-inner .container, #slider .carousel-inner > .item {
	height: 100% !important;
}


#rentab{
	padding: 20px;
}

#wallet, #casos {
	padding: 90px 0;
}

#home #icodatos div.col-md-3:nth-child(1),#home #icodatos div.col-md-3:nth-child(2),#home #icodatos div.col-md-3:nth-child(3) {
	border-right: solid 1px #F9B233;
}

#icodatos img {
	width: 50px;
	vertical-align: middle;

}
#home #icodatos img {
	margin-right: 30px;
}

#sliderusers {
	padding-bottom: 50px;
}

#sliderusers .carousel-indicators{
	bottom: -20px !important;
}

#sliderusers .filtro-img {
	padding-right: 15px;
	width: 96%;
	height: 250px;
}

#sliderusers img {
	position: absolute;
	padding-right: 15px;
	left: 0;
}

#sliderusers .contenedor{
	height: 250px;
	overflow: hidden !important;
}

.fondo {
	position: absolute;
}

blockquote.slide {
	color: #ffffff !important;
	font-family: 'LatoLight', sans-serif;
	font-size: 21px !important;
	line-height: 25px;
	border-left: 0 !important;
	margin-top: 30px;
	position: absolute;
}

blockquote.slide:before {
	font-family:FontAwesome;
	content: '\f10d';
	font-weight: normal;
	font-style: normal;
	color:#F39200;
	padding-right: 10px;
	padding-left: 0;
	display: block;
}

/*************************/
/*	filtros img */
/*************************/
.filtro-img {
	background-color: rgba(38, 22, 35, 0.6);
	width: 100%;
	height: 100%;
	top: 0;
	position: absolute;
	left: 0;
}

.filtro-img.light {
	background-color: rgba(38, 22, 35, 0.4) !important;
}

/*************************/
/*	botones */
/*************************/

.btn {
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	border-radius:20px;
}

/* boton transaprente */
.btn-transparente {
	color: #ffffff;
	background-color: transparent;
	border: solid 1px #ffffff;
	font-family: 'LatoBlack', sans-serif !important;
	font-size: 12px !important;
	line-height: 14px !important;
	text-transform: uppercase;
	padding: 15px 60px;

}
.btn-transparente.morado {
	color: #481B65;
	border: solid 1px #481B65;
}

.btn-transparente.morado:hover,
.btn-transparente.morado:focus,
.btn-transparente.morado.focus,
.btn-transparente.morado:active,
.btn-transparente.morado.active{
	color: #481B65 !important;
	border: solid 1px #481B65 !important;
}

.btn-transparente.naranja {
	color: #FF5A19;
	border: solid 1px #FF5A19;
}

.btn-transparente.naranja:hover,
.btn-transparente.naranja:focus,
.btn-transparente.naranja.focus,
.btn-transparente.naranja:active,
.btn-transparente.naranja.active{
	color: #FF5A19 !important;
	border: solid 1px #FF5A19 !important;
}

.btn-transparente:hover,
.btn-transparente:focus,
.btn-transparente.focus,
.btn-transparente:active,
.btn-transparente.active,
.open > .dropdown-toggle.btn-transparente {
	color: #ffffff;
	background-color: transparent;
	border: solid 1px #ffffff;
}

.btn-transparente:active,
.btn-transparente.active,
.open > .dropdown-toggle.btn-transparente {
	background-image: none;
}
.btn-transparente.disabled,
.btn-transparente[disabled],
fieldset[disabled] .btn-transparente,
.btn-transparente.disabled:hover,
.btn-transparente[disabled]:hover,
fieldset[disabled] .btn-transparente:hover,
.btn-transparente.disabled:focus,
.btn-transparente[disabled]:focus,
fieldset[disabled] .btn-transparente:focus,
.btn-transparente.disabled.focus,
.btn-transparente[disabled].focus,
fieldset[disabled] .btn-transparente.focus,
.btn-transparente.disabled:active,
.btn-transparente[disabled]:active,
fieldset[disabled] .btn-transparente:active,
.btn-transparente.disabled.active,
.btn-transparente[disabled].active,
fieldset[disabled] .btn-transparente.active {
	background-color: transparent;
	border: solid 1px #ffffff;
}

.btn.noradio {
	-webkit-border-radius:0 !important;
	-moz-border-radius:0 !important;
	border-radius:0 !important;
	padding: 20px;
}

.btn.rad20 {
	-webkit-border-radius:20px !important;
	-moz-border-radius:20px !important;
	border-radius:20px !important;
}

.btn.alargado {
	padding: 10px 95px !important;
}

.btn.fullwidth {
	display: block;
	width: 100%;
}

/*************************/
/*	responsive */
/*************************/

@media (min-width: 768px) {
	.col-sm-15 {
		width: 20%;
		float: left;
	}
}

@media (max-width: 768px){
	#menutop li.active, #menutop li:hover{
		width: 100%;
	}

	#logo {
		width:100%;
		text-align: center;
	}
	#logo img {
		margin-left: 0;
		width: 130px;
	}
	#wallet, #casos {
		padding: 30px 0;
		min-height: 400px;
		text-align: center;
	}

	.ipad {
		bottom: -280px !important;
		height: 270px !important;
		width: 88% !important;
		background-position: top !important;
	}

	#menutop ul li:nth-last-child(2), #menutop ul li:nth-last-child(1) {
		border-left: 0 !important;
		margin-left: 0 !important;
	}

	#index #suger .cuadrado:first-child {
		margin-bottom: 20px;
	}

	#suger {
		padding: 0 !important;
		margin-bottom: 60px;
		background-color: #ffffff !important;
	}

	#como #pasos {
		padding-bottom: 0 !important;
	}

	#suger .conshadow {
		-webkit-box-shadow: none !important;
		-moz-box-shadow: none !important;
		box-shadow: none !important;
	}

	ul.pasoscomo li{
		margin-bottom: 40px;
	}
	ul.pasoscomo li:before{
		counter-increment: section;
		/*color: transparent;*/
		content: counter(section);
		color: #ffffff;
		text-shadow:
				-1px -1px 0 #FF5A19,
				1px -1px 0 #FF5A19,
				-1px 1px 0 #FF5A19,
				1px 1px 0 #FF5A19;
		font-size: 35px;
		border: solid 2px #481B65;
		-webkit-border-radius:100%;
		-moz-border-radius:100%;
		border-radius:100%;
		clear: both;
		float: left;
		height: 45px;
		line-height: 38px;
		margin-right: 20px;
		padding: 5px;
		text-align: center;
		vertical-align: middle;
		width: 45px;
	}

	#slogan .negro{
		font-family: 'LatoBlack', sans-serif;
		font-size: 52px !important;
		line-height: 50px;
		font-weight: 800;
	}

	#slogan {
		text-align: center;
	}

	#inversores #icodatos img {
		float:left !important;
		clear:both;
		margin: 0 15px 10px 0;
	}

	#inversores #icodatos div.latoligth15, #inversores #icodatos div.latoligth21{
		color: #ffffff !important;
		text-align: left !important;
	}
	#inversores #icodatos div.latoligth15{
		font-size: 15px !important;
	}
	#inversores #icodatos div.latoligth21{
		font-size: 18px !important;
	}

	#inversores #boxes img.pc {
		margin-bottom: 0 !important;
	}

	#submenufooter {
		padding-left: 15px;
	}

	#calculadora button{
		background-color: #ffffff;
		color: #FF941F;
		clear: both;
		margin-bottom: 5px;
		width: 100%;
	}

	#noticia .fechacat, #noticia .titular {
		text-align: center;
	}

}

@media (max-width: 361px) {



	.btn-transparente {
		padding: 15px 30px;
	}
	.btn.alargado {
		padding: 10px 65px !important;
	}

	#logo img {
		margin-left: -30px;
		width: 130px;
	}
	.ipad {
		bottom: -190px !important;
		height: 160px !important;
		width: 88% !important;
		background-position: top !important;
	}
	#wallet, #casos {
		padding: 30px 0;
		min-height: 300px;
		text-align: center;
	}
}

@media (max-width: 849px){
	.sincomp{
		display: none;
	}
}

@media (min-width: 992px) {
	.col-md-15 {
		width: 20%;
		float: left;
	}

	.fichaslist .ficha:first-child {
		padding-left: 0 !important;
	}

	.fichaslist .ficha:last-child {
		padding-right: 0 !important;
	}

}

@media (min-width: 1200px) {
	.col-lg-15 {
		width: 20%;
		float: left;
	}
}
