/*************************/
/*	COLORES FUENTES  */
/*************************/
.blanco {
	color: #ffffff !important;
}

.naranja {
	color: #FF5A19 !important;
}

.amarillo {
	color: #F39200 !important;
}

.gris {
	color: #878787 !important;
}

.gris-claro {
	color: #F2F2F2 !important;
}

.morado {
	color: #481B65 !important;
}

/* Lo usaremos como filtro de modals e imagenes aplicandole un opacity */
.morado-osc {
	color: #261623 !important;
}

.morado-claro {
	color: rgba(38, 22, 35, 0.5);
}

.negro {
	color: #000000 !important;
}
.negro-med {
	color: #292929;
}

/*************************/
/*	COLORES FONDO  */
/*************************/

.bg-blanco {
	background-color: #ffffff !important;
}

.bg-naranja {
	background-color: #FF5A19 !important;
}

.bg-amarillo {
	background-color: #F39200 !important;
}
.bg-amarillo-claro {
	background-color: rgba(243, 146, 0, 0.3) !important;
}


.bg-morado {
	background-color: #412163 !important;
}

.bg-gris {
	background-color: #878787 !important;
}

.bg-grisb {
	background-color: #E5E5DC !important;
}

.bg-gris-claro {
	background-color: #F2F2F2 !important;
}

.bg-morado {
	background-color: #481B65 !important;
}

/* Lo usaremos como filtro de modals e imagenes aplicandole un opacity */
.bg-morado-osc {
	background-color: #261623 !important;
}

.bg-morado-claro {
	background-color: rgba(38, 22, 35, 0.5);
}

.bg-morado-light {
	background-color: rgba(62, 71, 76, 0.3);
}

.bg-negro {
	background-color: #000000 !important;
}
.bg-negro-med {
	background-color: #292929;
}

/*************************/
/*	COLORES BORDES */
/*************************/

.bord-gris {
	border: solid 1px #DADADA;
}