@import 'margenes.css';
@import 'fonts.css';
@import 'colores.css';

body {
/*	font-family: 'Lato', sans-serif !important;
	font-size: 14px;
	line-height: 1.42857143;
	color: #2b2421;
	background-color: #ffffff;
	cursor: default;*/
}

*::-moz-selection { background: #481B65; color: #ffffff; }
*::selection { background: #481B65; color: #ffffff; }

a:hover, a:focus, a:active {
	color: #481B65;
}


/*************************/
/*	logo top */
/*************************/

#logo img{
	width: 150px;
}

/*************************/
/*	menu top */
/*************************/

.navbar-toggle{
	float: left !important;
}

.navbar-toggle .icon-bar {
	background-color: #000;
}

#navbar-mobile {
	height:110%;
	position: fixed;
	top:-1px;
	left:0;
	width: 110%;
	z-index: 16;
}

#navbar-mobile .close {
	margin-top: 20px;
}

#navbar-mobile ul, #navbar-mobile li {
	width: 100%;
}

#navbar-mobile ul {
	padding-top: 20px !important;
}

#navbar-mobile li {
	border-top: solid 1px #ffffff;
	line-height: 32px;
}
#navbar-mobile li:last-child{
	border-bottom: solid 1px #ffffff;
}


#menutop .navbar-nav > li > a {
	padding: 5px 15px;
	color: #000000;
}
#navbar-mobile .navbar-nav > li > a {
	padding: 5px 0 !important;
}

#menutop {
	padding: 20px 0;
	background-color: #ffffff;
	border-bottom: solid 1px #E5E5DC;
	z-index: 20;
}

#menutop ul {
	float: none !important;
	margin: 0 auto !important;
	display: table !important;
	table-layout: fixed !important;
	padding: 15px 0 0;
}

#menutop ul li:nth-last-child(2), #menutop ul li:nth-last-child(1){
	border-left: solid 1px #949494;
}
#menutop ul li:nth-last-child(2) {
	margin-left: 20px !important;
}

#menutop a:hover, #menutop a:active, #menutop a:focus {
	background-color: transparent !important;
	text-decoration: none;
}

#menutop li {
	text-decoration: none;
	display: inline-block;
	border-bottom: 1px dotted transparent;
	transition: 0.8s ease;
	white-space: nowrap;
}

#menutop li.active, #menutop li:hover{
	border-bottom: dotted 1px #000000;
	width: auto;
}

/*************************/
/*	pagina inicio */
/*************************/
#wallet, #casos {
	overflow: hidden;
}

#rentab {
	margin-top: -40px;
}

#rentab img {
	margin-top: -10px;
	height: 30px;
	padding-right: 15px;
}

.barramorada {
	border-top: solid 2px #412163;
	width: 80px;
	text-align: center;
	margin: 0 auto;
}

.ipad {
	background: url(/assets/img/extra/ipad.png) no-repeat center center / cover;
	bottom: -340px;
	height: 269px;
	position: absolute;
	width: 94%;
}

ul.no-style {
	list-style-type: none;
	padding-left: 0;
}

ul.empresa, ul.inversor {
	list-style-type: none;
	padding-left: 0;
}

ul.empresa a {
	color:#F39200;
}
ul.empresa li:before{
	font-family:FontAwesome;
	content: '\f00c';
	font-weight: normal;
	font-style: normal;
	color:#F39200;
	padding-right: 10px;
	padding-left: 0;
}

ul.inversor a {
	color:#481B65;
}
ul.inversor li:before{
	font-family:FontAwesome;
	content: '\f00c';
	font-weight: normal;
	font-style: normal;
	color:#481B65;
	padding-right: 10px;
	padding-left: 0;
}

/*************************/
/*	pagina login */
/*************************/
#sliderlogin {
	height: 600px;
}

#sliderlogin .formside {
	padding: 40px 60px;
}

.puntos {
	margin-top: 5px;
	padding-top: 5px;
	border-top: dashed 1px #000;
	width:150px;
	margin-left: 25px;
}

.puntos button{
	margin-left: -25px;
}

/*************************/
/*	pagina registro */
/*************************/

a.dotted {
	text-decoration: underline dotted;
}


/*************************/
/*	seccion footer */
/*************************/

footer {
	background-color: #292929 !important;
}

footer h1 {
	color: #ffffff !important;
	text-transform: uppercase;
}

footer ul, footer a {
	opacity: 0.5 !important;
	color: #ffffff !important;
	font-size: 15px;
	font-family: 'Lato', sans-serif;
	line-height: 26px;
}

footer .row.borders {
	border-width: 1px 0;
	border-color: #969696 !important;
	border-style: solid;
	padding: 30px 0 20px;
}

footer #menufooter ul {
	list-style: none;
	list-style-position: inside;
	margin: 20px 0 60px 0;
}

footer #submenufooter li{
	list-style: none;
	margin-right: 90px;
}

footer #submenufooter ul {
	list-style: none;
}

footer #submenufooter li{
	display: inline-block;
}


/*************************/
/*	modales */
/*************************/
.modal-backdrop {
	background-color: rgba(38, 22, 35, 0.9) !important;
}
.modal-backdrop.in {
	opacity: 1 !important;
}

.modal-dialog{
	padding: 50px 0;
	z-index: 9999 !important;
}
.modal-header {
	border-bottom: 0 !important;
}
.modal-content{
	background: transparent !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	border: 0 !important;

}

/*************************/
/*	estilos1tra */
/*************************/

.imagen {
	min-height: 400px;
}

.imagenmed {
	min-height: 250px;
	clear: both;
}


.clr {
	clear: both;
	position: relative;
	display: block;
}

.conshadow {
	-webkit-box-shadow: 2px 2px 3px #dddddd;
	-moz-box-shadow: 2px 2px 3px #dddddd;
	box-shadow: 2px 2px 3px #dddddd;
}

.tachado {
	text-decoration: line-through !important;
}

.bordegris {
	border: 1px solid #cccccc;
}

.pull-bottom {
	bottom: 0;
	position: absolute;
}
.pull-top {
	top: 0;
	position: absolute;
}

.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
}
.oculto {
	display: none !important;
	visibility: hidden !important;
	position: absolute !important;
	top: -200000px !important;
	left: -200000px !important;
	width: 1px !important;
	height: 1px !important;
	overflow: hidden !important;
}

.full-height {
	height: 100% !important;
}

.opacity50{
	-moz-opacity: 0.5 !important;
	opacity: 0.5 !important;
}

.opacity60{
	-moz-opacity: 0.6 !important;
	opacity: 0.6 !important;
}

.sinradio {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}

.arrow-down {
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 12px solid #ffffff;
}

.arrow-left {
	position: absolute;
	right: -10px;
	top:-24px;
	width: 0;
	height: 0;
	border-top: 36px solid transparent;
	border-bottom: 36px solid transparent;

	border-right:36px solid #ffffff;
}


/*************************/
/*	pagina como */
/*************************/
#slidercomo {
	height: 320px  !important;
	/*margin-top: 90px !important;*/
	position: relative  !important;
}

ul.pasoscomo{
	list-style: none;
}

ul.pasoscomo li{
	margin-bottom: 60px;
}



#pasos ul.pasoscomo{
	counter-reset: mi-contador;
	list-style: none;
}

#pasos2 ul.pasoscomo{
	counter-reset: mi-contador2;
	list-style: none;
}

ul.pasoscomo li{
	margin-bottom: 60px;
}

#pasos ul.pasoscomo li:before{

	/*color: transparent;*/
	counter-increment: mi-contador;
	content: counter(mi-contador);
	color: #ffffff;
	text-shadow:
	-1px -1px 0 #FF5A19,
	1px -1px 0 #FF5A19,
	-1px 1px 0 #FF5A19,
	1px 1px 0 #FF5A19;
	font-size: 65px;
	border: solid 2px #481B65;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	border-radius:100%;
	clear: both;
	float: left;
	height: 75px;
	line-height: 70px;
	margin-right: 20px;
	padding: 5px;
	text-align: center;
	vertical-align: middle;
	width: 75px;
}

#pasos2 ul.pasoscomo li:before{
	/*color: transparent;*/
	counter-increment: mi-contador2;
	content: counter(mi-contador2);
	color: #ffffff;
	text-shadow:
	-1px -1px 0 #FF5A19,
	1px -1px 0 #FF5A19,
	-1px 1px 0 #FF5A19,
	1px 1px 0 #FF5A19;
	font-size: 65px;
	border: solid 2px #481B65;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	border-radius:100%;
	clear: both;
	float: left;
	height: 75px;
	line-height: 70px;
	margin-right: 20px;
	padding: 5px;
	text-align: center;
	vertical-align: middle;
	width: 75px;
}

/*************************/
/*	pagina inversores */
/*************************/
#slogan .izq .morado, #slogan .izq .amarillo {
	font-family: 'LatoBold', sans-serif;
	font-size: 12px !important;
	line-height: 14px;
	margin-bottom: 30px;
}

#slogan .izq .negro {
	font-family: 'Lato', sans-serif;
	font-size: 40px;
}

#slogan .drxa {
	font-family: 'LatoLight', sans-serif;
	font-size: 21px !important;
	line-height: 25px;
	margin-top: 30px;
}

#boxes img.pc {
	margin-bottom: -80px;
	margin-top: -10px;
}


/*************************/
/*	pagina empresas */
/*************************/
#minicalc {
	padding: 50px;
}

#calculadora button{
	background-color: #ffffff;
	color: #FF941F;
	margin-right: 5px;
	width: 15.7%;
}

#calculadora button:active, #calculadora button.active, #calculadora button:focus, #calculadora button:hover {
	background-color: #F39200;
	color: #ffffff;
}

.btn-group {
	width: 100%;
}

#requisitos img{
	width: 100px;
	margin-bottom: 40px;
}

.irs-min, .irs-max {
	top: 40px;
	font-family: 'LatoBold', sans-serif;
	font-size: 14px !important;
	line-height: 17px;
	opacity: 0.5;
	background: transparent;
}

/*************************/
/*	pagina noticia */
/*************************/



/*************************/
/*	slider portada */
/*************************/
#sliderportada {
	height: 500px  !important;
	/*margin-top: 90px !important;*/
	position: relative  !important;
}

#slider .container {
	padding-top: 90px;
}

#slider li {
	background-color: #ffffff;
	border: 0 !important;
}
#sliderusers li{
	background-color: #EBEBEB;
	border: 0 !important;
}

#slider li.active, #sliderusers li.active {
	background-color: #F39200;
}

#slider, #slider .carousel-inner, #slider .carousel-inner .container, #slider .carousel-inner > .item {
	height: 100% !important;
}


#rentab{
	padding: 20px;
}

#wallet, #casos {
	padding: 90px 0;
}

#home #icodatos div.col-md-3:nth-child(1),#home #icodatos div.col-md-3:nth-child(2),#home #icodatos div.col-md-3:nth-child(3) {
	border-right: solid 1px #F9B233;
}

#icodatos img {
	width: 50px;
	vertical-align: middle;

}
#home #icodatos img {
	margin-right: 30px;
}

#sliderusers {
	padding-bottom: 50px;
}

#sliderusers .carousel-indicators{
	bottom: -20px !important;
}

#sliderusers .filtro-img {
	padding-right: 15px;
	width: 96%;
	height: 250px;
}

#sliderusers img {
	position: absolute;
	padding-right: 15px;
	left: 0;
}

#sliderusers .contenedor{
	height: 250px;
	overflow: hidden !important;
}

.fondo {
	position: absolute;
}

blockquote.slide {
	color: #ffffff !important;
	font-family: 'LatoLight', sans-serif;
	font-size: 21px !important;
	line-height: 25px;
	border-left: 0 !important;
	margin-top: 30px;
	position: absolute;
}

blockquote.slide:before {
	font-family:FontAwesome;
	content: '\f10d';
	font-weight: normal;
	font-style: normal;
	color:#F39200;
	padding-right: 10px;
	padding-left: 0;
	display: block;
}

/*************************/
/*	filtros img */
/*************************/
.filtro-img {
	background-color: rgba(38, 22, 35, 0.6);
	width: 100%;
	height: 100%;
	top: 0;
	position: absolute;
	left: 0;
}

.filtro-img.light {
	background-color: rgba(38, 22, 35, 0.4) !important;
}

/*************************/
/*	botones */
/*************************/

.btn {
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	border-radius:20px;
}

/* boton transaprente */
.btn-transparente {
	color: #ffffff;
	background-color: transparent;
	border: solid 1px #ffffff;
	font-family: 'LatoBlack', sans-serif !important;
	font-size: 12px !important;
	line-height: 14px !important;
	text-transform: uppercase;
	padding: 15px 60px;
}


.btn-transparente.x-sm {
	background-color: transparent;
	border: solid 1px #ffffff;
	font-family: 'Lato', sans-serif !important;
	font-size: 10px !important;
	line-height: 10px !important;
	text-transform: uppercase;
	padding: 5px 20px;
}

.btn-transparente.fino {
	padding: 9px 20px !important;

}

.btn-transparente.morado {
	color: #481B65;
	border: solid 1px #481B65;
}

.btn-transparente.morado:hover,
.btn-transparente.morado:focus,
.btn-transparente.morado.focus,
.btn-transparente.morado:active,
.btn-transparente.morado.active{
	color: #481B65 !important;
	border: solid 1px #481B65 !important;
}

.btn-transparente.naranja {
	color: #FF5A19;
	border: solid 1px #FF5A19;
}

.btn-transparente.naranja:hover,
.btn-transparente.naranja:focus,
.btn-transparente.naranja.focus,
.btn-transparente.naranja:active,
.btn-transparente.naranja.active{
	color: #FF5A19 !important;
	border: solid 1px #FF5A19 !important;
}

.btn-transparente:hover,
.btn-transparente:focus,
.btn-transparente.focus,
.btn-transparente:active,
.btn-transparente.active,
.open > .dropdown-toggle.btn-transparente {
	color: #ffffff;
	background-color: transparent;
	border: solid 1px #ffffff;
}




.btn-transparente:active,
.btn-transparente.active,
.open > .dropdown-toggle.btn-transparente {
	background-image: none;
}
.btn-transparente.disabled,
.btn-transparente[disabled],
fieldset[disabled] .btn-transparente,
.btn-transparente.disabled:hover,
.btn-transparente[disabled]:hover,
fieldset[disabled] .btn-transparente:hover,
.btn-transparente.disabled:focus,
.btn-transparente[disabled]:focus,
fieldset[disabled] .btn-transparente:focus,
.btn-transparente.disabled.focus,
.btn-transparente[disabled].focus,
fieldset[disabled] .btn-transparente.focus,
.btn-transparente.disabled:active,
.btn-transparente[disabled]:active,
fieldset[disabled] .btn-transparente:active,
.btn-transparente.disabled.active,
.btn-transparente[disabled].active,
fieldset[disabled] .btn-transparente.active {
	background-color: transparent;
	border: solid 1px #ffffff;
}

.btn.noradio {
	-webkit-border-radius:0 !important;
	-moz-border-radius:0 !important;
	border-radius:0 !important;
	padding: 20px;
}

.btn.rad20 {
	-webkit-border-radius:20px !important;
	-moz-border-radius:20px !important;
	border-radius:20px !important;
}

.btn.alargado {
	padding: 10px 80px !important;
}

.btn.fullwidth {
	display: block;
	width: 100%;
}

/*************************/
/*	responsive */
/*************************/

@media (min-width: 768px) {
	.col-sm-15 {
		width: 20%;
		float: left;
	}
}


@media (max-width: 768px){
	#logo {
		width:100%;
		text-align: center;
	}
	#logo img {
		margin-left: 0;
		width: 130px;
	}
	#wallet, #casos {
		padding: 30px 0;
		min-height: 400px;
		text-align: center;
	}

	.ipad {
		bottom: -280px !important;
		height: 270px !important;
		width: 88% !important;
		background-position: top !important;
	}

	#menutop ul li:nth-last-child(2), #menutop ul li:nth-last-child(1) {
		border-left: 0 !important;
		margin-left: 0 !important;
	}

	#index #suger .cuadrado:first-child {
		margin-bottom: 20px;
	}

	#suger {
		padding: 0 !important;
		margin-bottom: 60px;
		background-color: #ffffff !important;
	}

	#como #pasos {
		padding-bottom: 0 !important;
	}

	#suger .conshadow {
		-webkit-box-shadow: none !important;
		-moz-box-shadow: none !important;
		box-shadow: none !important;
	}

	ul.pasoscomo li{
		margin-bottom: 40px;
	}
	ul.pasoscomo li:before{
		counter-increment: section;
		/*color: transparent;*/
		content: counter(section);
		color: #ffffff;
		text-shadow:
				-1px -1px 0 #FF5A19,
				1px -1px 0 #FF5A19,
				-1px 1px 0 #FF5A19,
				1px 1px 0 #FF5A19;
		font-size: 35px;
		border: solid 2px #481B65;
		-webkit-border-radius:100%;
		-moz-border-radius:100%;
		border-radius:100%;
		clear: both;
		float: left;
		height: 45px;
		line-height: 38px;
		margin-right: 20px;
		padding: 5px;
		text-align: center;
		vertical-align: middle;
		width: 45px;
	}

	#slogan .negro{
		font-family: 'LatoBlack', sans-serif;
		font-size: 52px !important;
		line-height: 50px;
		font-weight: 800;
	}

	#slogan {
		text-align: center;
	}

	#inversores #icodatos img {
		float:left !important;
		clear:both;
		margin: 0 15px 10px 0;
	}

	#inversores #icodatos div.latoligth15, #inversores #icodatos div.latoligth21{
		color: #ffffff !important;
		text-align: left !important;
	}
	#inversores #icodatos div.latoligth15{
		font-size: 15px !important;
	}
	#inversores #icodatos div.latoligth21{
		font-size: 18px !important;
	}

	#inversores #boxes img.pc {
		margin-bottom: 0 !important;
	}

	#submenufooter {
		padding-left: 15px;
	}

	#calculadora button{
		background-color: #ffffff;
		color: #FF941F;
		clear: both;
		margin-bottom: 5px;
		width: 100%;
	}

	#noticia .fechacat, #noticia .titular {
		text-align: center;
	}

}

@media (max-width: 361px) {
	#logo img {
		margin-left: -30px;
		width: 130px;
	}
	.ipad {
		bottom: -190px !important;
		height: 160px !important;
		width: 88% !important;
		background-position: top !important;
	}
	#wallet, #casos {
		padding: 30px 0;
		min-height: 300px;
		text-align: center;
	}
}

@media (max-width: 849px){
	.sincomp{
		display: none;
	}
}

@media (min-width: 992px) {
	.col-md-15 {
		width: 20%;
		float: left;
	}

	.fichaslist .ficha:first-child {
		padding-left: 0 !important;
	}

	.fichaslist .ficha:last-child {
		padding-right: 0 !important;
	}

}
@media (min-width: 1200px) {
	.col-lg-15 {
		width: 20%;
		float: left;
	}
}


/*************************/
/*	MODULOS */
/*************************/

.tab-content {
	padding-top: 20px;
	min-height: 100px;
}


.portlet.box {
	border: solid 1px #bdbec2 !important;
	background-color: #ffffff;
}

.portlet.box .portlet-title {
	background: #e4e5e7;
	color: #412163;
	border-bottom: solid 1px #bdbec2 !important;
}

.portlet.box .portlet-body, .portlet.box .portlet-footer, .portlet.box .portlet-title{
	padding: 10px !important;
}

.portlet.box .portlet-body,.portlet.box .portlet-footer {
	background-color: #ffffff;
}


button.dropdown-toggle {
	background-color: #ffffff;
	padding: 8px 0 10px 10px !important;
}

button.dropdown-toggle.btn span {
	padding: 10px 20px 10px 10px !important;
}

button.dropdown-toggle i.enmarcado {
	padding: 12px;
	border-left: solid 1px #bdbec2 !important;
	display: inline !important;
	background: #e4e5e7;
	margin-right:0 !important;
	vertical-align: middle;
}

a.amplia[aria-expanded="false"]::after{
	font-family: FontAwesome;
	display: inline-block;
	padding-left: 5px;
	content: '\f106';
	font-weight: normal;
	font-style: normal;
}

a.amplia[aria-expanded="true"]::after{
	font-family: FontAwesome;
	display: inline-block;
	padding-left: 5px;
	content: '\f107';
	font-weight: normal;
	font-style: normal;
}

.submenu {
	background-color: #3e474c;
	width: 100%;
	position: relative;
}

.submenu ul.menutop {
	margin-left: 0;
	margin-bottom:0;
	list-style: none;
	display: block;
	padding: 0 !important;
}

.submenu ul.menutop li {
	list-style: none;
	display: inline-block;
	margin-right: 40px;
}


.submenu ul.menutop li.active::before {
	border-top: solid 10px #ff9420;
	width: 50%;
	height: 5px;
	content: "";
	display: block;
	text-align: center;
	margin:0 auto;

}

.submenu ul.menutop a {
	color: #fffffd;
	text-transform: uppercase;
	padding: 15px 0;
	display: block;
}

.submenu ul.menutop a:hover, .submenu ul.menutop a:focus, .submenu ul.menutop a:active {
	text-decoration: none;
}



table, table thead {
	border: solid 1px #bdbec2 !important;
}
table thead th {
	background: #e4e5e7;
	border: none !important;
	padding: 15px 10px !important;
	text-transform: uppercase;
}

table thead > tr {
	border-bottom: 1px solid #bdbec2 !important;
}

table tbody td {
	padding: 10px !important;
	vertical-align: middle !important;
}

table tbody tr{
	transition: all 0.3s ease;
	background-color: #ffffff;
	vertical-align: middle;
}

table tbody tr:hover {
	/*-webkit-transform: scale(1.02,1.02);
	-moz-transform: scale(1.02,1.02);
	-ms-transform: scale(1.02,1.02);
	-o-transform: scale(1.02,1.02);
	transform: scale(1.02,1.02);*/
	-webkit-box-shadow: 1px 1px 5px #dddddd;
	-moz-box-shadow: 1px 1px 5px #dddddd;
	box-shadow: 1px 1px 5px #dddddd;
}


/*************************/
/*	DROPDOWNS */
/*************************/

.dropdown-toggle.transparente {
	background-color: transparent;
	border: none;
}

/*************************/
/*	PORTLETS */
/*************************/
.portlet.portlet-fullscreen {
	background: #fff none repeat scroll 0 0;
	bottom: 0;
	height: 100%;
	left: 0;
	margin: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 10060;
}

.tools {
	float:right;
	font-size: 14px !important;
}


/*************************/
/*	GRAFICAS */
/*************************/

.jqplot-donut-series.jqplot-data-label {
	color: #ffffff;
}

.jqplot-target {
	border: none !important;
}

#chartdiv {
	width	: 100%;
	height	: 500px;
	background: url(/assets/img/logograf.png) no-repeat center 40% / 60%;
}

a[href="http://www.amcharts.com/javascript-charts/"] {
	display: none !important;
}

.amcharts-graph-wallet {
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-dasharray: 500%;
	stroke-dasharray: 0 \0/;    /* fixes IE prob */
	stroke-dashoffset: 0 \0/;   /* fixes IE prob */
	-webkit-animation: am-draw 40s;
	animation: am-draw 40s;
}
@-webkit-keyframes am-draw {
	0% {
		stroke-dashoffset: 500%;
	}
	100% {
		stroke-dashoffset: 0%;
	}
}
@keyframes am-draw {
	0% {
		stroke-dashoffset: 500%;
	}
	100% {
		stroke-dashoffset: 0%;
	}
}

/*************************/
/*	LOADER */
/*************************/
#loading {
	width:100%;
	height: 100%;
	position: fixed;
	z-index: 9999;
	background-color: rgba(255,255,255, 0.95);
	text-align: center;
}

#loading img {
	position: relative !important;
	display: inline-block !important;
	vertical-align: middle !important;
	float: none;
	height:auto;
	width: 200px;
	top: 45%;
}

#dynamic_list .clon:first-child .remove_item {
	display: none;
}


/*************************/
/*	SELECT 2 OVERWRITE */
/*************************/

.select2-container--default .select2-selection--single{
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
	background-color: #ffffff !important;
	border: 1px solid #cccccc !important;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset !important;
	color: #555555 !important;
	display: block !important;
	font-size: 14px !important;
	height: 34px !important;
	line-height: 1.42857 !important;
	padding: 2px 12px !important;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s !important;
	width: 100% !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
	height:30px !important;
}

/*************************/
/*	FORMULARIOS */
/*************************/

.form-control:focus {
	border-color: #481B65;
	-webkit-box-shadow: 0 1px 1px rgba(72, 27, 101, 0.075) inset, 0 0 8px  rgba(72, 27, 101, 0.6) !important;
	-moz-box-shadow: 0 1px 1px rgba(72, 27, 101, 0.075) inset, 0 0 8px  rgba(72, 27, 101, 0.6) !important;
	box-shadow: 0 1px 1px rgba(72, 27, 101, 0.075) inset, 0 0 8px  rgba(72, 27, 101, 0.6) !important;
}

.form-control[aria-invalid='true']:focus, .form-control.invalid {
	border-color: #FF5A19;
	-webkit-box-shadow: 0 1px 1px rgba(255, 90, 25, 0.075) inset, 0 0 8px  rgba(255, 90, 25, 0.6) !important;
	-moz-box-shadow: 0 1px 1px rgba(255, 90, 25, 0.075) inset, 0 0 8px  rgba(255, 90, 25, 0.6) !important;
	box-shadow: 0 1px 1px rgba(255, 90, 25, 0.075) inset, 0 0 8px  rgba(255, 90, 25, 0.6) !important;
}

input[aria-invalid='true'], input.invalid {
	color: #FF5A19 !important;
}

span.invalid {
	background-color: #FF5A19;
	padding: 3px;
	color: #ffffff;
	font-size: 12px;
	display: block;
	margin-top: 5px;
}
