/*	formato fuentes */
@import url(https://fonts.googleapis.com/css?family=Merriweather&subset=latin,latin-ext);
/* Webfont: LatoLatin-Black */@font-face {
	font-family: 'LatoBlack';
	src: url('fonts/LatoLatin-Black.eot'); /* IE9 Compat Modes */
	src: url('fonts/LatoLatin-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/LatoLatin-Black.woff2') format('woff2'), /* Modern Browsers */
	url('fonts/LatoLatin-Black.woff') format('woff'), /* Modern Browsers */
	url('fonts/LatoLatin-Black.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}
/* Webfont: LatoLatin-Bold */@font-face {
	font-family: 'LatoBold';
	src: url('fonts/LatoLatin-Bold.eot'); /* IE9 Compat Modes */
	src: url('fonts/LatoLatin-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/LatoLatin-Bold.woff2') format('woff2'), /* Modern Browsers */
	url('fonts/LatoLatin-Bold.woff') format('woff'), /* Modern Browsers */
	url('fonts/LatoLatin-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: bold;
}
/* Webfont: LatoLatin-Light */@font-face {
	font-family: 'LatoLight';
	src: url('fonts/LatoLatin-Light.eot'); /* IE9 Compat Modes */
	src: url('fonts/LatoLatin-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/LatoLatin-Light.woff2') format('woff2'), /* Modern Browsers */
	url('fonts/LatoLatin-Light.woff') format('woff'), /* Modern Browsers */
	url('fonts/LatoLatin-Light.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}
/* Webfont: LatoLatin-Regular */@font-face {
	font-family: 'Lato';
	src: url('fonts/LatoLatin-Regular.eot'); /* IE9 Compat Modes */
	src: url('fonts/LatoLatin-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/LatoLatin-Regular.woff2') format('woff2'), /* Modern Browsers */
	url('fonts/LatoLatin-Regular.woff') format('woff'), /* Modern Browsers */
	url('fonts/LatoLatin-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}
h1 {
	font-family: 'Lato', sans-serif;
	font-size: 40px;
}

h1.black {
	font-family: 'LatoBlack', sans-serif !important;
	font-size: 34px !important;
	letter-spacing: 1px;
	text-transform: uppercase;
}
h1.light {
	font-family: 'LatoLight', sans-serif !important;
	font-size: 34px !important;
	font-weight: lighter;
}

.regular12 {
	font-family: 'Lato', sans-serif;
	font-size: 12px;
}

.regular18 {
	font-family: 'Lato', sans-serif;
	font-size: 18px;
}
.regular34 {
	font-family: 'Lato', sans-serif !important;
	font-size: 34px !important;
	letter-spacing: 1px;
	line-height: 38px;
}



.latoligth12{
	font-family: 'LatoLight', sans-serif;
	font-size: 12px !important;
	line-height: 14px;
}

.latoligth13{
	font-family: 'LatoLight', sans-serif;
	font-size: 13px !important;
	line-height: 26px;
}

.latoligth15{
	font-family: 'LatoLight', sans-serif;
	font-size: 15px !important;
	line-height: 28px;
}

.latoligth21{
	font-family: 'LatoLight', sans-serif;
	font-size: 21px !important;
	line-height: 25px;
}

.latoligth30{
	font-family: 'LatoLight', sans-serif;
	font-size: 30px !important;
	line-height: 42px;
}

.latoligth34{
	font-family: 'LatoLight', sans-serif;
	font-size: 34px !important;
	line-height: 36px;
}


.latoblack12{
	font-family: 'LatoBlack', sans-serif;
	font-size: 12px !important;
	line-height: 14px;
}

.latoblack14{
	font-family: 'LatoBlack', sans-serif;
	font-size: 14px !important;
	line-height: 16px;
}

.latoblack52{
	font-family: 'LatoBlack', sans-serif;
	font-size: 52px !important;
	line-height: 60px;
}


.latobold12{
	font-family: 'LatoBold', sans-serif;
	font-size: 12px !important;
	line-height: 14px;
}

.latobold14{
	font-family: 'LatoBold', sans-serif;
	font-size: 14px !important;
	line-height: 17px;
}

.latobold16{
	font-family: 'LatoBold', sans-serif;
	font-size: 16px !important;
	line-height: 20px;
}

.latobold24{
	font-family: 'LatoBold', sans-serif;
	font-size: 24px !important;
	line-height: 28px;
}


.georgia {
	font-family: Georgia,Times,Times New Roman,serif !important;
}
.font10 {
	font-size: 10px !important;
}
.font10 {
	font-size: 10px !important;
}
.font11 {
	font-size: 11px !important;
}
.font12 {
	font-size: 12px !important;
}
.font13 {
	font-size: 13px !important;
}
.font14 {
	font-size: 14px !important;
}
.font15 {
	font-size: 15px !important;
}
.font16 {
	font-size: 16px !important;
}
.font17 {
	font-size: 17px !important;
}
.font18 {
	font-size: 18px !important;
}
.font19 {
	 font-size: 19px !important;
 }
.font20 {
	font-size: 20px !important;
}

.wordspa1{
	word-spacing: 1px;
}
.wordspa2{
	word-spacing: 2px;
}
.wordspa3{
	word-spacing: 3px;
}
.wordspa4{
	word-spacing: 4px;
}
.wordspa5{
	word-spacing: 5px;
}
.lttrspa5{
	letter-spacing: 5px;
}