/*	margenes top */
.margTop5 {margin-top:5px !important;}
.margTop10 {margin-top:10px !important;}
.margTop15 {margin-top:15px !important;}
.margTop20 {margin-top:20px !important;}
.margTop25 {margin-top:25px !important;}
.margTop30 {margin-top:30px !important;}
.margTop35 {margin-top:35px !important;}
.margTop40 {margin-top:40px !important;}
.margTop45 {margin-top:45px !important;}
.margTop50 {margin-top:50px !important;}
.margTop55 {margin-top:55px !important;}
.margTop60 {margin-top:60px !important;}
.margTop65 {margin-top:65px !important;}
.margTop70 {margin-top:70px !important;}
.margTop75 {margin-top:75px !important;}
.margTop80 {margin-top:80px !important;}
.margTop85 {margin-top:85px !important;}
.margTop90 {margin-top:90px !important;}
.margTop95 {margin-top:95px !important;}
.margTop100 {margin-top:100px !important;}
.margTop105 {margin-top:105px !important;}
.margTop120 {margin-top:120px !important;}
.margTop155 {margin-top:155px !important;}
.margTop130 {margin-top:130px !important;}
.margTop135 {margin-top:135px !important;}
.margTop140 {margin-top:140px !important;}
.margTop145 {margin-top:145px !important;}
.margTop150 {margin-top:150px !important;}
.margTop155 {margin-top:155px !important;}
.margTop160 {margin-top:160px !important;}
.margTop165 {margin-top:165px !important;}
.margTop170 {margin-top:170px !important;}
.margTop175 {margin-top:175px !important;}
.margTop180 {margin-top:180px !important;}
.margTop185 {margin-top:185px !important;}
.margTop190 {margin-top:190px !important;}
.margTop195 {margin-top:195px !important;}
.margTop200 {margin-top:200px !important;}
/*	margenes bottom */
.margBot5 {margin-bottom:5px !important;}
.margBot10 {margin-bottom:10px !important;}
.margBot15 {margin-bottom:15px !important;}
.margBot20 {margin-bottom:20px !important;}
.margBot25 {margin-bottom:25px !important;}
.margBot30 {margin-bottom:30px !important;}
.margBot35 {margin-bottom:35px !important;}
.margBot40 {margin-bottom:40px !important;}
.margBot45 {margin-bottom:45px !important;}
.margBot50 {margin-bottom:50px !important;}
.margBot55 {margin-bottom:55px !important;}
.margBot60 {margin-bottom:60px !important;}
.margBot65 {margin-bottom:65px !important;}
.margBot70 {margin-bottom:70px !important;}
.margBot75 {margin-bottom:75px !important;}
.margBot80 {margin-bottom:80px !important;}
.margBot85 {margin-bottom:85px !important;}
.margBot90 {margin-bottom:90px !important;}
.margBot95 {margin-bottom:95px !important;}
.margBot100 {margin-bottom:100px !important;}
.margBot105 {margin-bottom:105px !important;}
.margBot120 {margin-bottom:120px !important;}
.margBot155 {margin-bottom:155px !important;}
.margBot130 {margin-bottom:130px !important;}
.margBot135 {margin-bottom:135px !important;}
.margBot140 {margin-bottom:140px !important;}
.margBot145 {margin-bottom:145px !important;}
.margBot150 {margin-bottom:150px !important;}
.margBot155 {margin-bottom:155px !important;}
.margBot160 {margin-bottom:160px !important;}
.margBot165 {margin-bottom:165px !important;}
.margBot170 {margin-bottom:170px !important;}
.margBot175 {margin-bottom:175px !important;}
.margBot180 {margin-bottom:180px !important;}
.margBot185 {margin-bottom:185px !important;}
.margBot190 {margin-bottom:190px !important;}
.margBot195 {margin-bottom:195px !important;}
.margBot200 {margin-bottom:200px !important;}
/*	margenes left */
.margLef5 {margin-left:5px !important;}
.margLef10 {margin-left:10px !important;}
.margLef15 {margin-left:15px !important;}
.margLef20 {margin-left:20px !important;}
.margLef25 {margin-left:25px !important;}
.margLef30 {margin-left:30px !important;}
.margLef35 {margin-left:35px !important;}
.margLef40 {margin-left:40px !important;}
.margLef45 {margin-left:45px !important;}
.margLef50 {margin-left:50px !important;}
.margLef55 {margin-left:55px !important;}
.margLef60 {margin-left:60px !important;}
.margLef65 {margin-left:65px !important;}
.margLef70 {margin-left:70px !important;}
.margLef75 {margin-left:75px !important;}
.margLef80 {margin-left:80px !important;}
.margLef85 {margin-left:85px !important;}
.margLef90 {margin-left:90px !important;}
.margLef95 {margin-left:95px !important;}
.margLef100 {margin-left:100px !important;}
.margLef105 {margin-left:105px !important;}
.margLef120 {margin-left:120px !important;}
.margLef155 {margin-left:155px !important;}
.margLef130 {margin-left:130px !important;}
.margLef135 {margin-left:135px !important;}
.margLef140 {margin-left:140px !important;}
.margLef145 {margin-left:145px !important;}
.margLef150 {margin-left:150px !important;}
.margLef155 {margin-left:155px !important;}
.margLef160 {margin-left:160px !important;}
.margLef165 {margin-left:165px !important;}
.margLef170 {margin-left:170px !important;}
.margLef175 {margin-left:175px !important;}
.margLef180 {margin-left:180px !important;}
.margLef185 {margin-left:185px !important;}
.margLef190 {margin-left:190px !important;}
.margLef195 {margin-left:195px !important;}
.margLef200 {margin-left:200px !important;}
/*	margenes right */
.margRig5 {margin-right:5px !important;}
.margRig10 {margin-right:10px !important;}
.margRig15 {margin-right:15px !important;}
.margRig20 {margin-right:20px !important;}
.margRig25 {margin-right:25px !important;}
.margRig30 {margin-right:30px !important;}
.margRig35 {margin-right:35px !important;}
.margRig40 {margin-right:40px !important;}
.margRig45 {margin-right:45px !important;}
.margRig50 {margin-right:50px !important;}
.margRig55 {margin-right:55px !important;}
.margRig60 {margin-right:60px !important;}
.margRig65 {margin-right:65px !important;}
.margRig70 {margin-right:70px !important;}
.margRig75 {margin-right:75px !important;}
.margRig80 {margin-right:80px !important;}
.margRig85 {margin-right:85px !important;}
.margRig90 {margin-right:90px !important;}
.margRig95 {margin-right:95px !important;}
.margRig100 {margin-right:100px !important;}
.margRig105 {margin-right:105px !important;}
.margRig120 {margin-right:120px !important;}
.margRig155 {margin-right:155px !important;}
.margRig130 {margin-right:130px !important;}
.margRig135 {margin-right:135px !important;}
.margRig140 {margin-right:140px !important;}
.margRig145 {margin-right:145px !important;}
.margRig150 {margin-right:150px !important;}
.margRig155 {margin-right:155px !important;}
.margRig160 {margin-right:160px !important;}
.margRig165 {margin-right:165px !important;}
.margRig170 {margin-right:170px !important;}
.margRig175 {margin-right:175px !important;}
.margRig180 {margin-right:180px !important;}
.margRig185 {margin-right:185px !important;}
.margRig190 {margin-right:190px !important;}
.margRig195 {margin-right:195px !important;}
.margRig200 {margin-right:200px !important;}
/*	margenes top */
.paddTop5 {padding-top:5px !important;}
.paddTop10 {padding-top:10px !important;}
.paddTop15 {padding-top:15px !important;}
.paddTop20 {padding-top:20px !important;}
.paddTop25 {padding-top:25px !important;}
.paddTop30 {padding-top:30px !important;}
.paddTop35 {padding-top:35px !important;}
.paddTop40 {padding-top:40px !important;}
.paddTop45 {padding-top:45px !important;}
.paddTop50 {padding-top:50px !important;}
.paddTop55 {padding-top:55px !important;}
.paddTop60 {padding-top:60px !important;}
.paddTop65 {padding-top:65px !important;}
.paddTop70 {padding-top:70px !important;}
.paddTop75 {padding-top:75px !important;}
.paddTop80 {padding-top:80px !important;}
.paddTop85 {padding-top:85px !important;}
.paddTop90 {padding-top:90px !important;}
.paddTop95 {padding-top:95px !important;}
.paddTop100 {padding-top:100px !important;}
.paddTop105 {padding-top:105px !important;}
.paddTop110 {padding-top:110px !important;}
.paddTop115 {padding-top:115px !important;}
.paddTop120 {padding-top:120px !important;}
.paddTop155 {padding-top:155px !important;}
.paddTop130 {padding-top:130px !important;}
.paddTop135 {padding-top:135px !important;}
.paddTop140 {padding-top:140px !important;}
.paddTop145 {padding-top:145px !important;}
.paddTop150 {padding-top:150px !important;}
.paddTop155 {padding-top:155px !important;}
.paddTop160 {padding-top:160px !important;}
.paddTop165 {padding-top:165px !important;}
.paddTop170 {padding-top:170px !important;}
.paddTop175 {padding-top:175px !important;}
.paddTop180 {padding-top:180px !important;}
.paddTop185 {padding-top:185px !important;}
.paddTop190 {padding-top:190px !important;}
.paddTop195 {padding-top:195px !important;}
.paddTop200 {padding-top:200px !important;}
/*	margenes bottom */
.paddBot5 {padding-bottom:5px !important;}
.paddBot10 {padding-bottom:10px !important;}
.paddBot15 {padding-bottom:15px !important;}
.paddBot20 {padding-bottom:20px !important;}
.paddBot25 {padding-bottom:25px !important;}
.paddBot30 {padding-bottom:30px !important;}
.paddBot35 {padding-bottom:35px !important;}
.paddBot40 {padding-bottom:40px !important;}
.paddBot45 {padding-bottom:45px !important;}
.paddBot50 {padding-bottom:50px !important;}
.paddBot55 {padding-bottom:55px !important;}
.paddBot60 {padding-bottom:60px !important;}
.paddBot65 {padding-bottom:65px !important;}
.paddBot70 {padding-bottom:70px !important;}
.paddBot75 {padding-bottom:75px !important;}
.paddBot80 {padding-bottom:80px !important;}
.paddBot85 {padding-bottom:85px !important;}
.paddBot90 {padding-bottom:90px !important;}
.paddBot95 {padding-bottom:95px !important;}
.paddBot100 {padding-bottom:100px !important;}
.paddBot105 {padding-bottom:105px !important;}
.paddBot110 {padding-bottom:110px !important;}
.paddBot115 {padding-bottom:115px !important;}
.paddBot120 {padding-bottom:120px !important;}
.paddBot155 {padding-bottom:155px !important;}
.paddBot130 {padding-bottom:130px !important;}
.paddBot135 {padding-bottom:135px !important;}
.paddBot140 {padding-bottom:140px !important;}
.paddBot145 {padding-bottom:145px !important;}
.paddBot150 {padding-bottom:150px !important;}
.paddBot155 {padding-bottom:155px !important;}
.paddBot160 {padding-bottom:160px !important;}
.paddBot165 {padding-bottom:165px !important;}
.paddBot170 {padding-bottom:170px !important;}
.paddBot175 {padding-bottom:175px !important;}
.paddBot180 {padding-bottom:180px !important;}
.paddBot185 {padding-bottom:185px !important;}
.paddBot190 {padding-bottom:190px !important;}
.paddBot195 {padding-bottom:195px !important;}
.paddBot200 {padding-bottom:200px !important;}
/*	margenes left */
.paddLef5 {padding-left:5px !important;}
.paddLef10 {padding-left:10px !important;}
.paddLef15 {padding-left:15px !important;}
.paddLef20 {padding-left:20px !important;}
.paddLef25 {padding-left:25px !important;}
.paddLef30 {padding-left:30px !important;}
.paddLef35 {padding-left:35px !important;}
.paddLef40 {padding-left:40px !important;}
.paddLef45 {padding-left:45px !important;}
.paddLef50 {padding-left:50px !important;}
.paddLef55 {padding-left:55px !important;}
.paddLef60 {padding-left:60px !important;}
.paddLef65 {padding-left:65px !important;}
.paddLef70 {padding-left:70px !important;}
.paddLef75 {padding-left:75px !important;}
.paddLef80 {padding-left:80px !important;}
.paddLef85 {padding-left:85px !important;}
.paddLef90 {padding-left:90px !important;}
.paddLef95 {padding-left:95px !important;}
.paddLef100 {padding-left:100px !important;}
.paddLef105 {padding-left:105px !important;}
.paddLef110 {padding-left:110px !important;}
.paddLef115 {padding-left:115px !important;}
.paddLef120 {padding-left:120px !important;}
.paddLef155 {padding-left:155px !important;}
.paddLef130 {padding-left:130px !important;}
.paddLef135 {padding-left:135px !important;}
.paddLef140 {padding-left:140px !important;}
.paddLef145 {padding-left:145px !important;}
.paddLef150 {padding-left:150px !important;}
.paddLef155 {padding-left:155px !important;}
.paddLef160 {padding-left:160px !important;}
.paddLef165 {padding-left:165px !important;}
.paddLef170 {padding-left:170px !important;}
.paddLef175 {padding-left:175px !important;}
.paddLef180 {padding-left:180px !important;}
.paddLef185 {padding-left:185px !important;}
.paddLef190 {padding-left:190px !important;}
.paddLef195 {padding-left:195px !important;}
.paddLef200 {padding-left:200px !important;}
/*	margenes right */
.paddRig5 {padding-right:5px !important;}
.paddRig10 {padding-right:10px !important;}
.paddRig15 {padding-right:15px !important;}
.paddRig20 {padding-right:20px !important;}
.paddRig25 {padding-right:25px !important;}
.paddRig30 {padding-right:30px !important;}
.paddRig35 {padding-right:35px !important;}
.paddRig40 {padding-right:40px !important;}
.paddRig45 {padding-right:45px !important;}
.paddRig50 {padding-right:50px !important;}
.paddRig55 {padding-right:55px !important;}
.paddRig60 {padding-right:60px !important;}
.paddRig65 {padding-right:65px !important;}
.paddRig70 {padding-right:70px !important;}
.paddRig75 {padding-right:75px !important;}
.paddRig80 {padding-right:80px !important;}
.paddRig85 {padding-right:85px !important;}
.paddRig90 {padding-right:90px !important;}
.paddRig95 {padding-right:95px !important;}
.paddRig100 {padding-right:100px !important;}
.paddRig105 {padding-right:105px !important;}
.paddRig110 {padding-right:110px !important;}
.paddRig115 {padding-right:115px !important;}
.paddRig120 {padding-right:120px !important;}
.paddRig155 {padding-right:155px !important;}
.paddRig130 {padding-right:130px !important;}
.paddRig135 {padding-right:135px !important;}
.paddRig140 {padding-right:140px !important;}
.paddRig145 {padding-right:145px !important;}
.paddRig150 {padding-right:150px !important;}
.paddRig155 {padding-right:155px !important;}
.paddRig160 {padding-right:160px !important;}
.paddRig165 {padding-right:165px !important;}
.paddRig170 {padding-right:170px !important;}
.paddRig175 {padding-right:175px !important;}
.paddRig180 {padding-right:180px !important;}
.paddRig185 {padding-right:185px !important;}
.paddRig190 {padding-right:190px !important;}
.paddRig195 {padding-right:195px !important;}
.paddRig200 {padding-right:200px !important;}
/* sin margen */
.sinright {margin-right: 0 !important;	padding-right: 0 !important;}
.sinleft {margin-left: 0 !important; padding-left: 0 !important;}
.sintop {margin-top: 0 !important; padding-top: 0 !important;}
.sinbottom {margin-bottom: 0 !important; padding-bottom: 0 !important;}
.sinall {margin: 0 !important; padding: 0 !important;}
